---
layout: default
rdf_prefix_path: _data/Prefixes.pref
---

    <main id="content" class="main-content" role="main">
      <div id="meta-info" class="row">
        <div class="col-md-6">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ 'assets/img/ZAC+_Kathodentester-Zelle_1.jpg' }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ 'assets/img/ZAC+_Kathodentester-Zelle_2.jpg' }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ 'assets/img/ZAC+_Kathodentester-Zelle_3.jpg' }}" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <table class="table table-striped table-hover" width="100%">
              <td width="50%"><i class="fas fa-address-card"></i> Difficulty</td>
              <td width="50%">{{page.rdf | rdf_property: "ask:difficulty"}}</td>
            </tr>
            <tr>
              <td width="50%"><i class="far fa-clock"></i> Duration</td>
              <td>{{page.rdf | rdf_property: "ask:duration"}}</td>
            </tr>
            <tr>
              <td><i class="fa fa-tag"></i> Categories</td>
              <td>Energy, Sience & Biology</td>
            </tr>
            <tr>
              <td><i class="fas fa-money-bill-wave"></i> Costs</td>
              <td>{{page.rdf | rdf_property: "ask:cost"}}</td>
            </tr>
            <tr>
              <td><i class="fas fa-language"></i> Languages</td>
              <td>{{page.rdf | rdf_property: "ask:language"}} <i class="fas fa-check-circle"></i></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="description">
        <h2>Einführung</h2>
        <p>Der Kathodentester ist ein Teilprojekt der Zn/O-Brennstoffzelle. Mit diesem Kathodentester können die Entwickler kostengünstig Gaskathoden testen. Er ist einfach zu bauen und kann als eine einheitliche Testumgebung für quantitative Vergleiche benutzt werden.</p>
        <p>Der Kathodentester ist einfacher gebaut als eine gewöhnliche Zn/O-Brennstoffzelle. Er ist eine Kammer ohne automatische Zuführungen und Ableitungen für Zink und Elektrolyt. Stattdessen werden Zink und Elektrolyt manuell von oben befüllt.</p>
        <p>Getestet werden sollen damit vor allem:</p>
        <ul>
            <li>Gaskathoden — sowohl aus eigener Herstellung als auch kommerzielle Versionen</li>
            <li>Anoden — z.B. einfache Zinkplatte, oder poröse Platte aus verpresstem Zinkpulver</li>
            <li>Dichtungen — z.B. Flachdichtung aus EPDM</li>
        </ul>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Werkzeuge und Material</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tutorials-tab" data-bs-toggle="tab" href="#tutorials" role="tab" aria-controls="tutorials" aria-selected="false">Vorrausgesetzte Tutorials</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="files-tab" data-bs-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">Dateien</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-6">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{ 'assets/img/ZAC+_Kathodentester-Zelle_1.jpg' }}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ 'assets/img/ZAC+_Kathodentester-Zelle_2.jpg' }}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ 'assets/img/ZAC+_Kathodentester-Zelle_3.jpg' }}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <h4>Material</h4>
              <ul>
                {% for material in Material %}
                  <li>{{material | rdf_property: "schema:quantity"}}x <a href="{{material | rdf_property: 'schema:stockroom'}}">{{material | rdf_property: "rdfs:label"}}</a></li>
                {% endfor %}
              </ul>
              <h4>Tools</h4>
              <ul>
                {% for tool in Tool %}
                  <li>{{tool | rdf_property: "schema:quantity"}}x <a href="{{tool | rdf_property: 'schema:stockroom'}}">{{tool | rdf_property: "rdfs:label"}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tutorials" role="tabpanel" aria-labelledby="tutorials-tab">
          <ul class="list-group">
            <li class="list-group-item">Open Workshop Setup</li>
          </ul>
        </div>
        <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
          <ul class="list-group">
            <li class="list-group-item">https://github.com/case06/ZACplus</li>
            <li class="list-group-item">https://wiki.opensourceecology.de/Kathodentester</li>
          </ul>
        </div>
      </div>